.vscode/**
node_modules
out/test/**
src/**
**/*.map
.gitignore
esbuild.mjs
eslint.config.mjs
tsconfig.json

# Typescript
!node_modules/typescript/package.json
!node_modules/typescript/lib/typescript.js